<div class="MenuContainer">
    <div class="OuterLoaderContainer" [ngClass]="{'show': Loading}">
        <div class="LoaderContainer">
            <div class="horizontalLinesLoader">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <menu-item 
        [MenuModel]="MenuModel" 
        [RGB]="RGB" 
        [ShadeMultiplier]="ShadeMultiplier" 
        [ShowOpenForAll]="ShowOpenForAll"
        [IconHeight]="IconHeight"
        [IconWidth]="IconWidth"
        [MenuStyles]="MenuStyles"
        [ShowOnlyIcon]="ShowOnlyIcon"
        [SingleMenuHeight]="SingleMenuHeight"
        (MenuSelected)="_MenuSelected($event)"
        (MenuOpenCloseChanged)="_MenuOpenCloseChanged($event)"
    ></menu-item>
</div>