@import "../src/InfiniteMenu/Css/InfiniteMenu.css";

/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Rubik';
    margin: 0px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgb(5, 63, 118);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(2, 54, 102);
}